* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.35));
  --btn_background: linear-gradient();
}

body {
  font-family: "Montserrat", sans-serif;
}

#userHeading{
  color: #fff;
  width: 100%;
  padding: 20px!important;
  margin-top: 25px;
  background: linear-gradient(45deg, #6dd5ed, #2193b0);

}

.form-control{
  position: relative;
}

.form-control .small{
  position: absolute;
  bottom: -18px;
  font-size: 12px;
}

.bg-image {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -10;

  background-color: #000;
}

.undo-img {
  position: absolute;
  width: 24px;
  top: 10px;
  left: 10px;
}

.undo-img:active {
  transform: scale(1.1);
}

.logo {
  color: #fff;
}

.menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(45deg, #6dd5ed, #2193b0);
  align-items: center;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu ul li {
  position: relative;
  list-style-type: none;
  padding: 20px;
  margin: 0 10px;
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
}

/* .list-items{
  display: none;
  position: absolute;
  width: 100%;
} */

h1 {
  text-align: center;
  color: #fff;
}

.flexbox {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center; /*Content will be centered along the main-axis*/
  align-items: center; /*Content will be centered along the cross-axis*/
}

.flexbox .flex-item {
  /* padding: 5%; */
  position: relative;
  background-color: #fff;
  height: auto; /*Height will be adjusted according to the content*/
  border-radius: 10px;
  box-shadow: 0 0 10px 5px grey;
}

.flexbox h2 {
  text-align: center;
  padding: 10px;
  margin: 10px;
  margin-bottom: 20px;
}

.form_input {
  display: block;
  padding: 5px;
  margin: 5px;
  margin-bottom: 37px;
  width: 100%;
  font-weight: bold;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid gray;
}

.text-left {
  text-align: left;
}

.btn {
  display: block;
  border: none;
  border-radius: 10px;
  background: linear-gradient(45deg, #6dd5ed, #2193b0);
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  margin: 10px auto;
  padding: 0.5em;
  width: 100%;
}

.links {
  display: block;
  color: #2193b0;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

.btn:hover {
  background: linear-gradient(20deg, #2193b0, #6dd5ed);
}

.menu ul li:hover {
  background-color: rgba(18, 16, 16, 0.645);
}

.menu ul li:hover a {
  color: #fff;
}

.menu:first-child {
  padding-left: 10px;
}

.menu button {
  display: none;
}

.btn:active {
  transform: scale(1.03);
  box-shadow: 0 0 5px #2193b0;
}

.forgot {
  text-align: right;
  margin-left: auto;
  margin-top: -10px;
  margin-bottom: 10px;
}

.star {
  color: rgba(255, 0, 0, 0.645);
}

.form_field {
  padding: 3%;
  border: 0 none;
}

.form_field legend {
  width: 100%;
}

.user-icon {
  display: block;
  background-color: #fff;
  position: relative;
  bottom: 38px;
  margin: auto;
  width: 25%;
  border-radius: 50%;
}

.signup-links {
  color: #2193b0;
  font-weight: 600;
  text-decoration: none;
}

.heading {
  padding: 5px;
  margin: 5px;
}

.menu-icon {
  display: inline-block;
  width: 24px;
}

footer p {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: center;
  color: #fff;
  background: linear-gradient(45deg, #6dd5ed, #2193b0);
}

.main-content {
  color: #fff;
  text-align: center;
}

#welcome-user{
  display:none;
  margin: auto;
  padding: 10px;
  color: #fff;
  background: linear-gradient(45deg, #6dd5ed, #2193b0);
  font-weight: bold;
  margin-top: 25px;
  border-radius: 10px;
}

.quote {
  width: 80%;
  margin: auto;
  font-size: 1.5em;
  font-weight: 600;
  color: #2193b0;
  border:1px solid #2193b0;
  padding: 20px;
  border-radius: 10px;
}

.quote p {
  margin: 20px 0;
}

.btn-grp {
  display: flex;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  justify-content: center;
}

.btn-login {
  background: linear-gradient(45deg, #6dd5ed, #2193b0);
  width: 20%;
  padding: 0.6em;
  margin: 2rem;
  border-radius: 20px;
  border: none;
  text-decoration: none;
  color: #000;
}

.btn-login:hover {
  background-color: #fff;
  scale: 1.01;
  box-shadow: 0 0 10px grey;
}

.border-b {
  border-bottom: none;
}

.format {
  padding: 0 !important;
}

@media (min-width: 300px) {
  .flexbox .flex-item {
    width: 80%;
  }

  .quote {
    margin-top: 25px;
  }
}



.table {
  /* display: table; */
  display: block;
  width:100%;
  margin: 0 auto;
 
}

.thead{
  position:sticky;
  top: 0;
}

.td {
 display: table-cell;
 border: 1px black solid;
 max-width: 118px;
 min-width: 118px;
 padding:10px;
 border: 1px solid #fff;
 word-wrap: break-word;
 text-align: center;
}

.row {
  display: table-row;
  border: 1px black solid;
  width: 100%;
  margin: 0 auto;
  background-color: #A3BB98;
} 

.tbody{
  margin: 0 auto;
}

.thead .row{
  font-weight: bold;
  text-align: center;
  background: linear-gradient(45deg, #6dd5ed, #2193b0);
  color: #fff;
}

#userData{
  position: relative;
  width: 1500px;
  height: 0;
  margin: auto;
  overflow: auto;
  
}
#emp-table h2{
  margin: 10px ;
  text-align: center;
  color: #2193b0;
}

.hidden {
  display: none;
}

#getData{
  margin-bottom: 70px;
}

@media (max-width: 2000px){
  #userData{
    width: 1300px;
  }
}

@media (max-width: 1500px){
  #userData{
    width: 1300px;
  }
}

@media (max-width: 1301px){
  #userData{
    width: 1100px;
  }
}

@media (max-width: 1101px){
  #userData{
    width: 900px;
  }
}

@media (max-width:900px){
  #userData{
    width: 100%;
    overflow-x: hidden;
    padding: 20px;
  } 

  .row{
    display: block;
  }

  .table .thead{
    display: none;
  }

  .table .row{
    margin-bottom: 15px;
  }
   .table .td{
    display: block;
    max-width: 100%;
  }

  .table .tbody .row .td{
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .table .td:before{
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
  }
}

@media (min-width: 600px) {
  .flexbox .flex-item {
    width: 50%;
  }
  #welcome-user{
    width: 200px;
  }
}

@media (min-width: 850px) {
  .flexbox .flex-item {
    width: 33%;
  }

  #welcome-user{
    width: 30%;
  }

  /*.flexbox h2{
         margin-bottom: -15px;
    }*/
}

@media (max-width: 850px) {
  .logo {
    position: absolute;
    right: 0;
    padding: 10px;
  }

  
  .menu {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu ul {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
  }

  .menu ul li {
    padding-left: 0;
  }

  .menu ul li:hover {
    background-color: #fff;
    transition: ease-in-out 0.5s;
    opacity: 0.65;
  }

  .menu ul li:hover a {
    color: #000;
  }

  .menu button {
    display: inline-block;
    background-color: var(--background);
    border: none;
    margin: 8px;
  }

  .toggle {
    display: inline-block !important;
  }

  .btn-grp {
    flex-direction: column;
    align-items: center;
  }

  .btn-login {
    width: 40%;
    margin: 0.5rem;
  }
}


/* background-image: linear-gradient(140deg, var( --e-global-color-secondary ) 0%, var( --e-global-color-text ) 100%); */